ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1, h2, h3, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: normal;
}

.link {
  text-decoration: none;
}

.navigation__heder-list {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__container-one {
  display: flex;
  align-items: center;
}
.header__container-one::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 80px;
  border: 1px solid #ECECEC;
}

.page-header {
  background-color: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation__links {
  color: var(--acsent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.navigation__logo {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.navigation__nav-link {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__nav-link:hover, .navigation__nav-link:focus {
  color: var(--acsent-color);
}

.navigation__nav-link .current {
  color: #000000;
}

.current::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 5px;
  background-color: #2196F3;
  border-radius: 2px;
}

.navigation__nav-link-head {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__nav-link-head:hover, .navigation__nav-link-head:focus {
  color: #2196F3;
}

.navigation__nav-link-tel {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__nav-link-tel:hover, .navigation__nav-link-tel:focus {
  color: var(--acsent-color);
}

.navigation__logo, a.contack {
  font-style: normal;
}

.komanda-sm-one {
  padding-right: 10px;
  fill: currentColor;
}
.komanda-sm-one:hover, .komanda-sm-one:focus {
  color: var(--acsent-color);
}

.current {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  position: relative;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-foto {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --acsent-color:#2196F3;
  --fon-prioritet-color: #F5F5F5;
  --fon-komanda-color: #F5F4FA;
  --fon-contact-color: #2F303A;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.main__button-osnovna {
  background-color: var(--acsent-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 216px;
  padding: 10px 32px;
  border: 2px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  color: var(--title-text-color);
  background-color: var(--fon-komanda-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  min-width: 125px;
  padding: 6px 22px;
  border: 2px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button:hover, .button:focus {
  background-color: var(--acsent-color);
  color: #FFFFFF;
}

.button-all {
  background-color: var(--acsent-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 25px;
  border: 2px solid var(--acsent-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1), color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-all:hover, .button-all:focus {
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background: var(--acsent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-two {
  display: inline;
  display: flex;
  gap: 30px;
}

.work__titel {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.main {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/foto19.jpg);
  background-position: center;
  background-size: cover;
}

.main__section-one {
  padding-top: 200px;
  padding-bottom: 200px;
}

h3.prioritet {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.main__titele {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
  width: 696px;
  margin: 0px auto;
  margin-bottom: 30px;
}

.box:nth-child(1), .box:nth-child(2),
.box:nth-child(3), .box:nth-child(4) {
  display: flex;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.spesok {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.sresok-picture {
  fill: #AFB1B8;
}

.prioritet-clas {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.prioritet-info {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.fon-prioritet {
  padding-top: 94px;
  padding-bottom: 94px;
}

.prioritet-titel {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.prioritet-texts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.foto-stop {
  width: calc((100% - 60px) / 3);
  display: block;
}

.menu {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.border-one {
  box-sizing: border-box;
  font-style: normal;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.border-one:hover, .border-one:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.window {
  position: relative;
  overflow: hidden;
}

.window-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}
.border-one:hover .window-text {
  transform: translateY(0);
}

.work {
  padding-top: 0px;
  padding-bottom: 94px;
}

.work__dodatok {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 27px;
}

.work__dodatok-foto {
  position: relative;
}

.work__dodatok-blok {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work__dodatok-foto-one {
  position: relative;
}

.work__dodatok-foto-two {
  position: relative;
}

.work__srction-foto {
  display: flex;
  gap: 30px;
}

.fon-komanda {
  background-color: var(--fon-komanda-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-komanda {
  display: flex;
  gap: 30px;
}

.img-foto {
  width: calc((100% - 90px) / 4);
}

.border {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.komanda-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-one {
  margin-bottom: 10px;
}

.prioritet-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.prioritet-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.prioritet-link:hover, .prioritet-link:focus {
  background-color: var(--acsent-color);
  color: #FFFFFF;
}

.komanda-sm {
  fill: currentColor;
}

.prioritet-spesoc {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__box-one {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__box-one:hover, .client__box-one:focus {
  border: 1px solid var(--acsent-color);
  color: var(--acsent-color);
}

.client__company {
  fill: currentColor;
}
.client__company:hover, .client__company:hover {
  border: 1px solid var(--acsent-color);
  color: var(--acsent-color);
}

.client__spesoc {
  display: flex;
  gap: 30px;
}

.client__titel {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.fon-contack {
  background-color: var(--fon-contact-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contack {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contack:hover, .contack:focus {
  color: var(--acsent-color);
}

.logo {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.logo-bottom {
  margin-bottom: 20px;
}

.nav-links-white {
  color: var(--acsent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-white {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-socmeregi {
  display: flex;
  align-items: baseline;
}

.one, .blok-socmeregi {
  align-items: baseline;
}

.socmeregi {
  margin-bottom: 20px;
}

.prioritet-link-one {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.prioritet-link-one:hover, .prioritet-link-one:focus {
  background-color: var(--acsent-color);
  color: #FFFFFF;
}

.komanda-sm {
  fill: currentColor;
}

.podpiska {
  display: flex;
  margin-left: 93px;
  flex-wrap: wrap;
}

.blok-podpeska {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  margin-bottom: 20px;
}

.btn-podpeska {
  display: flex;
  gap: 12px;
}

.email-podpeska {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px 15px;
  outline: transparent;
  background-color: var(--fon-contact-color);
  color: rgba(255, 255, 255, 0.6);
}

.button-podpeska {
  min-width: 200px;
  height: 50px;
  background: #2196F3;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  transition-duration: 250ms;
}

.icon-podpeska {
  fill: #FFFFFF;
}

.address-contacts {
  display: flex;
  margin-bottom: 9px;
  width: 231px;
}

.prioritet-spesoc-one {
  display: flex;
  align-items: center;
  margin-top: 0px;
  justify-content: center;
  gap: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 400ms linear, visibility 400ms linear;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 400ms;
  padding: 40px;
  border-radius: 4px;
}

.clouse-icon:hover, .clouse-icon:focus {
  fill: var(--acsent-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}

.btn {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-tex {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 12px;
}

.modal-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  color: #2F303A;
  padding-left: 42px;
  outline: transparent;
}
.modal-imput:hover, .modal-imput:focus {
  border-color: var(--acsent-color);
}
.modal-imput:focus + .modal-icon {
  fill: var(--acsent-color);
}
.modal-imput::-moz-placeholder, .modal-imput .forma-rozmir::-moz-placeholder {
  font-size: 14px;
  color: #2196F3;
}
.modal-imput:-ms-input-placeholder, .modal-imput .forma-rozmir:-ms-input-placeholder {
  font-size: 14px;
  color: #2196F3;
}
.modal-imput::placeholder, .modal-imput .form-text,
.modal-imput .forma-rozmir::placeholder {
  font-size: 14px;
  color: #2196F3;
}

.form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.forma-rozmir {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
}
.forma-rozmir:hover, .forma-rozmir:focus {
  border-color: var(--acsent-color);
}

.modal-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  border-radius: 4px;
  border: transparent;
  margin-left: auto;
  margin-right: auto;
}

.mod-tex {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.imput-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: #2196F3;
  border-color: transparent;
  fill: #FFFFFF;
}

.input-check:focus + .check-text span {
  border-color: var(--acsent-color);
}

.modal-field {
  padding-bottom: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.nav-link-forma {
  color: var(--acsent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 10px;
}

.socmeregi {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.blok-socmeregi {
  display: flex;
  width: 206px;
  margin-top: 16px;
  gap: 10px;
  flex-direction: column;
  margin-left: 70px;
}

.socmeregi-one {
  display: flex;
}

.icon {
  color: var(--text-color);
}
.icon:hover {
  color: var(--acsent-color);
}/*# sourceMappingURL=main.css.map */