ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

h1, h2, h3, p {
    margin-top: 0px;
    margin-bottom: 0px;   
}
body {
    font-family: "Roboto", sans-serif; 
    font-size: normal;
}

.link {
    text-decoration: none;
}
